@media (max-width: 1600px)
	h2
		font-size: 48px
	h4
		font-size: 30px
	p.p-1
		font-size: 30px

	button, .button, input[type="button"], input[type="submit"]
		padding: 12px 24px
		font-size: 20px
	p
		&.p-3
			font-size: 20px

	.cards-pros .card
		padding: 48px 24px
	.cards-service .card
		width: 25%
	.cards-equipment-all .card
		padding: 48px 0 48px 48px
	.cards-schedule .card
		height: 600px

	section:not(:first-of-type)
		margin-top: 120px

	header .top
		nav ul li a
			font-size: 18px
		.languages
			&::before
				width: 20px
				height: 20px
			> a
				font-size: 16px
				padding-left: 28px
		> button
			font-size: 20px
	footer
		padding: 72px 0
		.footer_block
			h5
				font-size: 24px
			ul a
				font-size: 20px
		.contacts
			a
				font-size: 24px

	section.request .wrapper form
		width: 100%
	section.pros
		padding: 72px 0
	section.dealer .left .choose_city button
		padding: 12px

@media (max-width: 1440px)
	h5
		font-size: 27px

	.wrapper
		width: 90%

	section:not(:first-of-type)
		margin-top: 96px

	header .top
		padding-left: 12px
		.header_contacts .messengers,
		.header_contacts button,
		> button > span
			display: none
		nav ul li a
			font-size: 20px

	footer
		.footer_block
			padding-right: 36px
		.other_blocks
			gap: 36px
		.contacts
			a
				font-size: 22px
			> ul li:not(:first-child)
				margin-top: 24px
			> div
				margin-top: 36px
				button
					margin-right: 24px
				.messengers li:not(:first-child)
					margin-left: 12px

	.cards-equipment .card .text
		padding: 24px 18px
	.cards-brands
		margin: 0 -18px
		.card
			margin: 0 18px
	.cards-equipment-all .card
		width: calc( 100% / 3 - 24px)
	.cards-lines .card
		width: 750px
		height: 500px
	.cards-teachers .card
		width: calc( 100% / 4 - 24px)
		&:last-of-type
			display: none

	section.product_info .right
		.name, .value
			font-size: 36px

@media (max-width: 1280px)
	h2
		font-size: 42px
	h4
		font-size: 30px
	p.p-1
		font-size: 27px
	p.p-3
		font-size: 18px
	button, .button, input[type="button"], input[type="submit"]
		padding: 12px 18px

	.slick-slider[data-type="hs1"] .slick-arrow
		&.slick-prev
			transform: translate(-100%, -100%)
		&.slick-next
			transform: translate(0, -100%)

	.cards-pros
		flex-wrap: wrap
		justify-content: center
		.card
			width: calc( 100% / 2 - 24px)
			flex-grow: 0
	.cards-service .card
		width: calc( 100% / 3 )
		height: 460px
	.cards-blurred
		.card
			margin: 0 24px
	.cards-equipment-all .card
		height: 480px
	.cards-categories .card
		height: 400px
		padding: 48px
	.cards-popular
		gap: 24px
		.card
			width: calc( 100% / 4 - 24px)
	.cards-lines .card
		width: 600px
		height: 400px
		&::before
			transform: scale(0.6)
		&:not(:first-child)
			margin-top: 72px
		&:nth-of-type(odd) .text
			right: -200px
		&:nth-of-type(even) .text
			left: -200px
	.cards-filials
		font-size: 20px
		.filial.active
			.content, .contacts, .schedule, .office_photo
				margin-top: 12px
			.contacts li:not(:first-child)
				margin-top: 4px
	.cards-schedule
		justify-content: center
		.card
			width: calc( 100% / 2 - 24px)
			max-width: 480px
	.cards-team .card
		width: 25%

	section:not(:first-of-type)
		margin-top: 72px
	section.request.no_image
		margin-bottom: 72px

	header .top nav ul li a
		font-size: 18px
		padding: 18px 10px
	footer
		padding: 48px 0
		.footer_block ul a
			font-size: 18px
		.other_blocks
			gap: 30px
			> .footer_block
				padding-right: 0
				width: calc( 100% / 2 - 18px)
		.contacts
			a
				font-size: 20px
			> ul li img
				margin-right: 18px
			> div
				flex-wrap: wrap
				button
					margin: 0 0 18px 0

	section.request .wrapper
		width: 80%
		.request_img
			transform: translate(-200px, -50%)
	section.why .wrapper
		flex-direction: column
		h2
			width: 100%
			padding: 0
			margin-bottom: 36px
			br
				display: none
		.cards
			width: 100%
			justify-content: center
	section.howwork .wrapper
		h2
			width: 40%
		ul
			width: 60%
	section.page_header
		margin-top: 72px
	section.dealer
		background-color: $tsp
		padding: 0
		.wrapper
			flex-direction: column
			.left
				width: 100%
				padding: 0
				.choose_city
					justify-content: center
			.right
				width: 100%
				.filial
					&:first-child
						border-top: none
					.office_photo
						max-width: 500px
						margin: 12px auto 0
						display: block
	section.product_info .right
		.text
			margin-top: 36px
		.additional
			margin-top: 36px
			flex-direction: column
			> div
				width: 100%
			ul li:not(:first-child)
				margin-top: 12px
	section.obucheniyeBanner .slide
		height: 480px
		.wrapper .text
			width: 50%
	section.reviews .wrapper
		width: 90%
		margin: 0 auto
	section.media_about .wrapper
		flex-direction: column
		h2
			width: 100%
			padding: 0
		.cards
			width: 100%
	section.intro
		margin-top: 36px !important
	section.history
		margin: 36px 0 72px !important

@media (max-width: 1024px)
	h2, h3
		font-size: 36px
	h4
		font-size: 27px
	p.p-1
		font-size: 24px

	section
		.wrapper > h2, > h2
			.button, button
				display: none
	section, .wrapper
		> .button, > button
			display: block

	.cards-equipment
		flex-wrap: wrap
		.card
			width: 50%
			height: 480px
			> a
				position: absolute
				z-index: 10
				left: 0
				top: 0
				right: 0
				bottom: 0
			.equip_img
				bottom: unset
				top: 50%
				transform: translate(0, -50%)
		.all
			display: block
	.cards-service .card
		width: calc( 100% / 2 )
		height: 360px
	.cards-equipment-all .card
		width: calc( 100% / 2 - 24px)
	.cards-categories
		gap: 18px
		.card
			padding: 36px 24px
			height: 320px
			width: calc( 50% - 18px)
	.cards-popular .card
		width: calc( 100% / 3 - 24px)
	.cards-lines .card
		align-self: center !important
		&:not(:first-child)
			margin-top: 144px
		.text
			max-width: unset
			right: unset !important
			left: unset !important
			bottom: 0
			transform: translate(0, 120px)
	.cards-schedule .card .text .date
		font-size: 30px
	.cards-news
		display: block
		.card
			margin: 0 4px
	.cards-teachers .card
		width: calc( 100% / 2 - 24px)
	.cards-team .card
		width: calc( 100% / 3 )
		height: 440px
	.cards-media .card
		gap: 18px
	.cards-history
		padding-bottom: 36px
		.card
			margin-top: 24px
			.year
				display: none
			.block
				width: 100%
				padding: 0 !important
				.text
					margin: 0 auto !important
					&::before
						display: none
					.date
						display: block

	header
		.top
			display: none
		.bottom
			.wrapper
				#openCallForm, #openHambMenu
					display: inline-flex
			.logo
				width: 210px
		#signupMobile
			display: block
	body
		padding-top: 120px
	footer
		.wrapper
			grid-template-columns: repeat(2, 50%)
			grid-template-rows: repeat(3, auto)
			grid-template-areas: "main contacts" "other other" "copyrgiht development"
		.other_blocks
			margin: 24px 0
			grid-row: unset
		.footer_block
			padding-right: 0

	section.homeBanner
		.slide
			height: auto
			> .wrapper
				flex-direction: column-reverse
				padding: 0 0 36px 0
				.image
					width: 100%
					max-width: 450px
					margin: 0 auto
					img
						margin: 0 auto
				.text
					width: 80%
					margin: 0 auto
					.button
						margin-top: 24px
						font-size: 20px
			.breadcrumbs .wrapper
				padding: 0
	section.request .wrapper
		width: 100%
		margin: 0 auto
		padding: 72px
		.request_img
			display: none
		.text
			max-width: unset
		form
			margin-top: 36px
	section.howwork .wrapper
		flex-direction: column
		h2
			width: 100%
		ul
			width: 100%
			li
				font-size: 24px
				padding-left: 110px
				&::before
					font-size: 36px
				&::after
					transform: translate(60px, -50%)
	section.partners:before
		display: none
	section.more
		padding: 48px 0 12px
		.wrapper
			width: 90%
	section.lines
		padding-bottom: 120px
	section.about_histolab, section.about_study
		.wrapper
			flex-direction: column
			.text
				width: 100%
				padding: 0
				h2
					margin-bottom: 24px
			.videos, .photos
				width: 100%
				max-width: 500px
				margin: 24px auto 0
				.video::after
					left: 24px
					bottom: 24px
				.slider_controls
					margin-top: 24px
	section.product_info
		padding-top: 48px
		.wrapper
			flex-direction: column
			.left
				width: 100%
				.name
					display: block
				img
					max-height: 420px
					width: auto
					margin-left: auto
					margin-right: auto
					display: block
			.right
				width: 100%
				.name
					display: none
				.manage
					margin-top: 0
					flex-direction: column
					align-items: center
					.price
						display: flex
						align-items: flex-end
						.amount
							margin-left: 12px
					button
						margin: 18px 0 0 0
	section.obucheniyeBanner .slide > .wrapper
		padding: 36px 0
		.text
			width: 60%
			margin: 0 auto 0 0
		.image
			right: 0
	section.reviews
		.text
			.names
				margin-top: 36px
			.slider_controls
				display: none
		.videos .video
			height: auto
			padding-bottom: 0
			iframe, img
				position: relative
				min-height: 210px
		.wrapper > .slider_controls
			display: flex
	section.team .wrapper
		flex-direction: column
		&::after
			top: -36px
		h2
			width: 100%
			padding: 0
		.text
			width: 100%
	section.history .now
		font-size: 48px

@media (max-width: 900px)
	.cards-pros .card
		width: 100%
	.cards-schedule .card
		width: 100%

	section.schedule
		margin: 48px 0 96px

@media (max-width: 850px)
	.cards-blurred .card
		height: 480px
		margin: 0

@media (max-width: 767px)
	h2, h3
		font-size: 30px
	h4
		font-size: 24px
		> br
			display: none
	h5
		font-size: 20px
	p.p-1
		font-size: 18px

	button:not(.slick-arrow), .button:not(.slick-arrow), input[type="button"]:not(.slick-arrow), input[type="submit"]:not(.slick-arrow)
		font-size: 20px

	.slick-slider[data-type="vs1"]
		.slick-arrow
			top: unset
			bottom: 48px
			&.slick-prev
				transform: translate(calc(-100% - 9px), 0) rotate(-90deg)
			&.slick-next
				transform: translate(0, 0) rotate(-90deg)

	.cards-pro2 .card
		padding: 36px 24px
		img
			width: 48px
	.cards-brands
		margin: 0
		width: 100%
		.card
			margin: 0
			width: 45vw !important
			max-width: unset
	.cards-blurred
		.card
			min-width: 240px
			margin: 0 48px
			&.slick-slide[aria-hidden="true"]
				opacity: 1
				visibility: visible
	.cards-categories
		flex-wrap: wrap
		.card
			width: 100%
	.cards-popular:not(.cards-teachers)
		flex-wrap: nowrap
		overflow-x: auto
		overflow-y: hidden
		scrollbar-width: none
		&::-webkit-scrollbar
			display: none
		.card
			width: calc( 100% / 3 - 24px)
			flex-shrink: 0
			.image
				height: 300px
	.cards-lines .card
		width: 100%
		max-width: 480px
		height: auto
		&::before
			display: none
	.cards-filials .filial .street img
		width: 18px
	.cards-equipment_lines
		justify-content: center
		.card
			width: 100%
			max-width: 480px
			height: 320px
			padding: 0
			overflow: visible
			&:not(:first-child)
				margin-top: 100px
			.equip_img
				transform: translate(-50%, -50%)
			.text
				transform: translateY(50%)
				padding: 24px 18px
	.cards-teachers
		gap: 12px
		.card
			width: calc( 100% / 2 - 6px)
	.cards-team .card
		width: 50%
		img
			width: 100%
			height: auto
	.cards-media .card
		width: 100%
	.cards-history .card .text
		padding: 24px 36px

	.breadcrumbs .wrapper
		justify-content: flex-start

	body
		padding-top: 110px
	header
		height: 110px
	#mobileMenu, #overlay
		top: 122px

	footer .contacts > div
		flex-direction: column
		align-items: flex-start
		button
			margin-right: 0
		.messengers
			margin-top: 18px

	section.homeBanner
		.slide
			width: 100%
			display: inline-block
		.wrapper
			.image
				&::before
					width: 251px
					height: 207px
					top: 80%
					left: 30%
					padding-bottom: 0
				&::after
					width: 190px
					height: 190px
					right: -30px
					top: unset
					left: unset
					bottom: -100px
					padding-bottom: 0
			.text
				width: 100%
				p
					margin-top: 18px
	section.request .wrapper
		padding: 48px
		form input
			width: 100%
	section.howwork .wrapper ul li
		font-size: 18px
		padding-left: 95px
		&::after
			width: 24px
	section.pros
		padding: 0
	section.categories
		margin-top: 36px
	section.dealer .wrapper .left
		.choose_city
			display: none
		.select_city
			display: block
	section.request.no_image .wrapper
		padding: 48px 18px
	section.all_lines
		padding-bottom: 72px
	section.obucheniyeBanner .slide > .wrapper
		flex-direction: column
		padding-top: 0
		.image
			order: -1
			position: static
			max-width: unset
			transform: unset
			margin: 0 -6%
			width: unset
			img
				width: 100%
				height: auto
		.text
			width: 100%
			position: relative
			&::before
				height: 100px
				width: 110%
				left: -5%
				top: 0
				bottom: unset
				background-image: linear-gradient(to top, white, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0))
				transform: translateY(-100%)
			.manage
				margin-top: 24px
				gap: 24px
	section.about_banner .slide .wrapper .text::before
		background: linear-gradient(to top, $cream, rgba($cream, 0.9), rgba($cream, 0.6), rgba($cream, 0))
	section.reviews .text .slider_controls
		margin-top: 24px
	section.team .wrapper
		&::before, &::after
			display: none
		h2
			margin-bottom: 36px
	section.why::before
		display: none
	section.media_about
		margin-bottom: 72px
	section.intro
		margin-top: 18px !important

@media (max-width: 700px)
	footer
		.wrapper
			grid-template-columns: 100%
			grid-template-rows: none
			grid-template-areas: "main" "other" "contacts" "copyrgiht" "development"
		.other_blocks
			gap: 24px
			margin-bottom: 0
			> .footer_block
				width: 100%
		.footer_block
			ul
				transition: all 0.2s linear
				max-height: 0
				opacity: 0
				visibility: hidden
				margin-top: 0
			&.active ul
				max-height: 500px
				opacity: 1
				visibility: visible
				margin-top: 18px
			h5
				font-size: 20px
				cursor: pointer
				transition: all 0.2s linear
				&:hover
					color: $aqua
				img
					display: inline-flex
		.contacts
			margin-top: 48px
			> div
				margin-top: 24px
		.copyright
			margin-top: 48px
		.development
			margin-top: 18px

	.cards-equipment
		.card
			width: 100%
		.all
			margin-top: 24px
	.cards-equipment-all .card
		width: 100%
		.text
			max-width: 312px

@media (max-width: 600px)
	h6
		font-size: 18px

	.cards-pros .card
		img
			width: 48px
		h5
			margin-top: 18px
		p
			margin-top: 12px
		button, .button
			margin-top: 18px
	.cards-service .card
		padding: 24px 0 24px 18px
		.text
			padding: 18px
			h6::before
				font-size: 36px
	.cards-pro2 .card
		width: 100%
	.cards-popular:not(.cards-teachers)
		gap: 8px
		.card
			width: 42vw
	.cards-news .card
		width: 90vw !important
		&[aria-hidden="true"]
			opacity: 1
			visibility: visible
	.cards-team .card
		padding: 18px 0 18px 18px
		height: 360px
		.text
			h6
				font-weight: bold
			p
				font-size: 14px

	section.more p
		font-size: 18px

@media (max-width: 480px)
	h3
		font-size: 24px

	.cards-service .card
		height: 280px
	.cards-categories .card
		height: 235px
		.text
			max-width: 236px
	.cards-popular .card
		.image
			height: 192px
		.text
			margin-top: 12px
			h6
				font-size: 14px
				font-weight: normal
			strong
				font-size: 20px
	.cards-lines, .cards-equipment_lines
		margin: 0 -5%
	.cards-schedule .card
		height: 480px
		padding: 24px 0 24px 48px
		.text
			padding: 24px
			.date
				font-size: 24px
			.time
				font-size: 18px
			.city
				font-size: 16px
			.who
				font-size: 18px
			.manage button
				padding: 18px 24px
	.cards-some_events
		display: block
		margin: 0 -6%
	.cards-news .card .image
		height: 280px
	.cards-teachers .card .text
		strong
			font-size: 18px
			font-weight: 500
		h6
			font-size: 16px
			line-height: 1.25
	.cards-media .card .image
		width: 110px
		height: auto
	.cards-history .card
		margin-top: 12px

	section.request .wrapper
		padding: 48px 18px
	section.schedule
		margin: 36px 0 72px
		h2
			justify-content: center
	section.some_events > .all
		margin-left: 5% !important
	section.reviews .text .names .slide
		.name
			font-size: 20px
		.link
			font-size: 18px












