// ---------------------------------------------------------------- Variables
$b: 			#000000
$w: 			#ffffff
$tsp: 		#00000000

$dark:		#1f2626
$red:			#d02029

$cream:		#f7f7f7
$lpink:		#f5e5e5
$aqua:		#49bfc6
$laqua:		#e5f1f5
$lgrey:		#7d8d8d
$lgrey2:	#8e9292
$lgrey3:	#a7b2b2

// ---------------------------------------------------------------- Reset styles
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button, input, textarea
	margin: 0
	padding: 0
	border: 0
	font-size: 100%
	font-family: 'Mabry Pro'
	color: inherit
	box-sizing: border-box
	line-height: inherit

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
	display: block

ul
	list-style: none
	li
		position: relative
		display: block

blockquote, q
	quotes: none

blockquote:before, blockquote:after,
q:before, q:after
	content: ''
	content: none

table
	border-collapse: collapse
	border-spacing: 0

// +
button
	border: none
	background-color: transparent
	cursor: pointer
	padding: 0
	outline: none
a, span
	display: inline-block
	outline: none
img
	width: 100%
	user-select: none
	outline: none
	flex-shrink: 0
h1, h2, h3, h4, h5, h6
	font-weight: bold
	white-space: normal
svg
	max-width: 72px
	overflow: visible
	transition: all 0.2s linear
	g, path
		transition: all 0.2s linear
	&:not(.native)
		g, path
			fill: inherit

// ---------------------------------------------------------------- General
h2
	font-size: 60px
	line-height: 1.03
h3
	font-size: 48px
	line-height: 1.13
h4
	font-size: 36px
	line-height: 1.06
h5
	font-size: 30px
	line-height: 1.13
h6
	font-size: 24px
	font-weight: 500
p
	&.p-1
		font-size: 36px
		font-weight: 500
		line-height: 1.17
	&.p-2
		font-size: 30px
		line-height: 1.13
	&.p-3
		font-size: 24px
		line-height: 1.33
	&.p-4
		font-size: 20px
		line-height: 1.4
	&.p-5, &.p-6
		font-size: 18px
		line-height: 1.33

.mb-144
	margin-bottom: 144px
.overflow-hidden
	overflow: hidden

button,
.button,
input[type=button],
input[type=submit]
	&:not(.slick-arrow)
		padding: 18px 36px
		border-radius: 6px
		font-size: 24px
		font-weight: 500
		line-height: 1.21
		white-space: nowrap
		transition: all 0.2s linear
		&.empty
			border: 2px solid $red
			color: $dark
			&:hover
				background-color: $red
				color: $w
		&.filled
			background-color: $red
			color: $w
			&:hover
				background-color: $aqua
a
	white-space: nowrap
	text-decoration: none
	font-size: 18px
	font-weight: 500
	line-height: 1.22
	transition: all 0.2s linear

// ---------------------------------------------------------------- Functional classes
.hover_expand_inner
	position: relative
	> ul
		position: absolute
		z-index: 150
		left: -10px
		top: 100%
		right: 0
		padding: 5px 10px
		transition: all 0.2s linear
		opacity: 0
		visibility: hidden
		li
			display: block
	&:hover > ul
		opacity: 1
		visibility: visible

.wrapped
	transition: all 0.2s linear
	max-height: 430px
	position: relative
	z-index: 10
	overflow: hidden
	&::after
		content: ''
		position: absolute
		z-index: 20
		background-image: linear-gradient(to bottom, rgba(247, 247, 247, 0), #f7f7f7)
		left: 0
		right: 0
		bottom: 0
		height: 120px
		transition: all 0.2s linear
		opacity: 1
		visibility: visible
	&.active
		max-height: 2000px
		&::after
			opacity: 0
			visibility: hidden
.readMore
	font-size: 18px
	font-weight: 500
	margin-top: 18px
	color: $red
	box-shadow: none
	padding: 0
	margin: 0
	text-align: center
	width: 100%
	&:hover
		color: $aqua

// ---------------------------------------------------------------- Mixins
@mixin flex
	display: flex
	justify-content: space-between
	align-items: center

// ---------------------------------------------------------------- Figures
.figure.aos-animate
	opacity: 1 !important
@mixin aquaEmpty
	content: ''
	z-index: 0
	position: absolute
	border: 20px solid rgba(#49bfc6, 0.2)
	background-color: $tsp
@mixin pinkFilled
	content: ''
	z-index: 0
	position: absolute
	background-color: $lpink

// ---------------------------------------------------------------- Common styles
html
	width: 100vw
	overflow-x: hidden
	max-width: 100vw
	scroll-behavior: unset
	position: relative
	height: 100%
	font-size: 18px
	color: $dark
	font-smooth: antialiased
	-webkit-font-smoothing: antialiased

body
	width: 100%
	height: 100%
	padding-top: 140px
	position: relative
	z-index: 1
	&.discroll
		position: fixed
		overflow: hidden

section
	position: relative
	z-index: 5
	width: 100%
	max-width: 100vw
	&:not(:first-of-type)
		margin-top: 144px
	.wrapper > h2, > h2
		@include flex
		margin-bottom: 48px
section, .wrapper
	> .all
		display: none
		width: max-content
		margin: 24px auto 0

.wrapper
	width: 82%
	margin: 0 auto
	position: relative
	z-index: 5

#overlay_mobile
	position: fixed
	z-index: 1000
	left: 0
	top: 0
	right: 0
	bottom: 0
	width: 100vw
	height: 100vh
	overflow: hidden
	cursor: pointer
	transition: all 0.2s linear
	opacity: 0
	visibility: hidden
	&.active
		opacity: 1
		visibility: visible

.breadcrumbs
	margin-top: 18px
	.wrapper
		display: flex
		align-items: center
		justify-content: center
		overflow-x: auto
		scrollbar-width: none
		&::-webkit-scrollbar
			display: none
		a
			color: $lgrey3
			font-size: 18px
			line-height: 1.22
			font-weight: normal
			&:hover
				color: $aqua
			&:not(:first-child)
				&::before
					content: '→'
					margin: 0 12px
					color: $lgrey
			&.current
				color: $aqua
				pointer-events: none

