/* ------------------ Home ------------------ */

section.homeBanner
	overflow: hidden
	background-color: $cream
	.slide
		height: 720px
	.wrapper
		@include flex
		height: 100%
		.text
			width: 45%
			position: relative
			z-index: 5
			h2
			p
				margin-top: 24px
			.button
				margin-top: 48px
		.image
			width: 55%
			position: relative
			&::before
				@include aquaEmpty
				width: 90%
				padding-bottom: 27vw
				top: 50%
				left: 0
				transform: translate(0, -50%)
			&::after
				@include pinkFilled
				z-index: 2
				width: 90%
				padding-bottom: 25vw
				bottom: 0
				left: 100px
			img
				position: relative
				z-index: 3
				max-width: 90%
				max-height: 90%
				display: block
				margin-top: auto
				margin-left: auto

section.equipment

section.request
	&.no_image
		margin-bottom: 144px
		.wrapper
			padding: 96px
	.wrapper
		width: 56.25%
		margin: 0 0 0 auto
		padding: 120px 96px
		background-repeat: no-repeat
		background-size: cover
		background-position: center
		background-color: $cream
		.text
			max-width: 618px
		.request_img
			height: 100%
			max-height: 490px
			width: auto
			position: absolute
			left: 0
			top: 50%
			transform: translate(-300px, -50%)
		p
			margin-top: 18px
		form
			position: relative
			margin-top: 48px
			display: flex
			flex-wrap: wrap
			gap: 18px
			input
				width: calc( 100% / 2 - 9px )
				background-color: rgba($w, 0.24)
				border-radius: 6px
				border: solid 1px rgba($dark, 0.24)
				padding: 22px 24px
				font-size: 18px
			textarea
				width: 100%
				height: 120px
				resize: none
				background-color: rgba($w, 0.24)
				border-radius: 6px
				border: solid 1px rgba($dark, 0.24)
				padding: 22px 24px
				font-size: 18px
				font-family: inherit
			button
				width: 100%

section.pros
	padding: 96px 0
	.wrapper
		&::before
			@include pinkFilled
			z-index: -1
			left: 50%
			top: 50%
			transform: translate(-50%, -50%)
			width: 53%
			height: 100%

section.why
	&::before
		@include aquaEmpty
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)
		width: 53%
		height: 330px
	.wrapper
		@include flex
		align-items: flex-start
		h2
			width: 35%
			padding-right: 20px
		.cards
			width: 65%

section.brands
	background-color: $cream
	padding: 96px 0

section.howwork
	.wrapper
		display: flex
		align-items: flex-start
		justify-content: space-between
		h2
			width: 50%
			padding-right: 20px
		ul
			width: 50%
			counter-reset: list
			li
				font-size: 28px
				line-height: 1.14
				position: relative
				padding-left: 130px
				&:not(:first-child)
					margin-top: 36px
				&::before
					counter-increment: list
					content: counters(list, ".", decimal-leading-zero)
					font-size: 48px
					font-weight: bold
					position: absolute
					left: 0
					top: 50%
					transform: translate(0, -50%)
				&::after
					content: ''
					width: 36px
					height: 2px
					background-color: $red
					position: absolute
					left: 0
					top: 50%
					transform: translate(78px, -50%)

section.partners
	padding-bottom: 72px
	&::before
		@include aquaEmpty
		left: 96px
		bottom: 0
		width: 306px
		height: 525px

section.more
	background-color: $cream
	padding: 96px 0
	.wrapper
		width: 56%
	p
		font-size: 24px
		line-height: 1.33
		margin-top: 18px

/* ------------------ oborudovanie-inner ------------------ */

section.page_header
	margin-top: 120px
	h2
		display: block
		max-width: 1080px
		margin: 0 auto
		text-align: center

section.all_equipment
	margin-top: 72px

/* ------------------ kosmetika ------------------ */

section.kosmetikaBanner
	background-color: $dark
	.slide
		background-color: $dark
		color: $w
		&.slick-slide[aria-hidden="true"]
			opacity: 1 // opacity 0 with dark background cause blink effect
	.breadcrumbs .wrapper
		margin: 18px 0
		width: max-content
	.wrapper .image
		&::before, &::after
			display: none
		img
			max-height: unset
			max-width: unset

section.categories

section.popular
	overflow: hidden

section.lines
	overflow: hidden

section.dealer
	background-color: $cream
	padding: 96px 0
	.wrapper
		display: flex
		align-items: flex-start
		justify-content: space-between
	.left
		width: 50%
		padding-right: 60px
		.choose_city
			margin-top: 48px
			display: flex
			align-items: center
			button
				padding: 20px 24px
				background-color: $w
				border-top: 2px solid $lgrey2
				border-bottom: 2px solid $lgrey2
				border-radius: 0
				color: $lgrey2
				position: relative
				font-size: 20px
				&:first-of-type
					border-left: 2px solid $lgrey2
					border-radius: 6px 0 0 6px
				&:last-of-type
					border-right: 2px solid $lgrey2
					border-radius: 0 6px 6px 0
				&:not(:first-child)::before
					content: ''
					position: absolute
					z-index: 10
					left: 0
					top: 50%
					transform: translate(-50%, -50%)
					width: 2px
					height: 20px
					background-color: $lgrey2
				&.active, &:hover
					background-color: $lgrey2
					color: $w
					&::before, + button:before
						opacity: 0
						visibility: hidden
		.select_city
			display: none
			margin: 36px -5% 0
			select
				width: 100%
				padding: 18px 72px 18px 18px
				background: $cream url('../img/ico_arrowDownDark.svg') no-repeat 95% 55%
				background-size: 18px
				border: none
				font-size: 24px
				color: $dark
				font-weight: bold
				-moz-appearance: none
				-webkit-appearance: none
				&::ms-expand
					display: none
	.right
		width: 50%

section.about_histolab
	.wrapper
		display: flex
		justify-content: space-between
	.text
		width: 50%
		padding-right: 80px
		h2
			margin-bottom: 48px
		p:not(:first-child)
			margin-top: 18px
	.videos, .photos
		width: 50%
		display: flex
		flex-direction: column
		overflow: hidden
		.video, .photo
			display: inline-block
			background-color: $dark
			position: relative
			cursor: pointer
			height: 100%
			&::after
				content: url(../img/ico_play.svg)
				width: 48px
				position: absolute
				z-index: 5
				left: 48px
				bottom: 48px
		.photo
			background-color: $w
			&:after
				display: none
		iframe, img
			width: 100%
			height: 100%
		.slider_controls
			margin-top: 48px

/* ------------------ kosmetika-tovar ------------------ */

section.product_info
	padding-top: 96px
	.wrapper
		display: flex
		justify-content: space-between
		gap: 24px
	.left
		width: 33%
		.name
			display: none
			text-align: center
		img
			margin-top: 36px
	.right
		width: 67%
		.name
			border-bottom: 10px solid #f4f5e5
			padding-bottom: 36px
		.manage
			margin-top: 36px
			display: flex
			align-items: center
			.price
				text-align: right
				.amount
					font-size: 18px
					color: $lgrey2
			button
				margin-left: 48px
		.text
			margin-top: 72px
			p
				&:not(:first-child)
					margin-top: 24px
				&.accent
					font-weight: bold
		.additional
			margin-top: 72px
			display: flex
			gap: 24px
			> div
				width: 50%
			h4
				margin-bottom: 24px
			ul li
				font-size: 20px
				line-height: 1.4
				display: flex
				align-items: center
				&:not(:first-child)
					margin-top: 18px
				&::before
					content: ''
					width: 10px
					height: 10px
					border-radius: 50%
					background-color: $red
					margin-right: 24px
					flex-shrink: 0
			p
				font-size: 18px
				line-height: 1.4

/* ------------------ raspisanie ------------------ */

section.schedule
	margin: 72px 0 144px

/* ------------------ obucheniye ------------------ */

section.obucheniyeBanner
	@extend .homeBanner, .kosmetikaBanner
	background-color: $w
	.slide
		background-color: $w
		color: $dark
		overflow: hidden
	.wrapper
		.text
			position: static
			&::before
				content: ''
				position: absolute
				z-index: -1
				height: 100%
				width: 70%
				left: 0
				top: 0
				bottom: 0
				background-image: linear-gradient(to right, rgba($w, 1), rgba($w, 0.9), rgba($w, 0.8), rgba($w, 0))
		.image
			position: absolute
			z-index: 0
			height: 100%
			width: 100%
			right: -10%
			top: 50%
			transform: translate(0, -50%)
			img
				height: 100%
				width: auto
				display: block
				margin-left: auto
		.manage
			margin-top: 36px
			display: flex
			align-items: center
			gap: 60px
			flex-wrap: wrap
			a
				color: $red
				display: inline-flex
				align-items: center
				&:hover
					color: $aqua
			img
				width: 24px
				height: 24px
				margin-right: 12px

section.about_study
	@extend .about_histolab

section.teachers
	@extend .popular

section.some_events
	overflow: hidden

section.news
	overflow: hidden
	.all
		margin-left: 5% !important






















